.content-container{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: rgba(0,0,0,2); /* 此处使用opacity会让文字也变透明 */
    box-shadow: 0 5px 20px rgba(26,26,26,0.5);
}
table{
    background-color: #424244;
}
.table-title{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    padding: 10px 0 ;
    background-color: #7cb0bb;
}
.left-column{
    width: 400px;
}
.right-column{
    width: 600px;
}